<div>
  {{>navBarPartial }}
</div>
<div class="create-form">
  <h3 class="margin2">Create Beaches</h3>
  <form action="/admin" method="post" enctype="multipart/form-data">
      <label for="floatingInput" class="margin3">Name: </label>
    <div class="form-floating mb-3">
      <input
        type="text"
        name="name"
        value="{{this.name}}"
        class="form-control"
        id="floatingInput"
      />
    </div>
    <br />
    <label for="region" class="margin3">Region: </label>
    <select
      name="region"
      class="form-select"
      aria-label="Default select example"
    >
      <option selected></option>
      <option>--------------------</option>
      <option value="Andalucía">Andalucía</option>
      <option value="Asturias">Asturias</option>
      <option value="Baleares">Baleares</option>
      <option value="Canarias">Canarias</option>
      <option value="Cantabria">Cantabria</option>
      <option value="Cataluña">Cataluña</option>
      <option value="Comunidad Valenciana">Comunidad Valenciana</option>
      <option value="Extremadura">Extremadura</option>
      <option value="Galicia">Galicia</option>
      <option value="Comunidad de Madrid">Comunidad de Madrid</option>
      <option value="Región de Murcia">Región de Murcia</option>
      <option value="País Vasco">País Vasco</option>
      <option value="Ciudad Autónoma de Ceuta">Ciudad Autónoma de Ceuta</option>
      <option value="Ciudad Autónoma de Melilla">Ciudad Autónoma de Melilla</option>
    </select>
    <br />
      <label for="floatingTextarea2" class="margin3">Description: </label>
    <div class="form-floating">
      <textarea
        name="description"
        cols="30"
        rows="10"
        value="{{this.description}}"
        class="form-control"
        placeholder="Leave a description here"
        id="floatingTextarea2"
        style="height: 100px"
      ></textarea>
    </div>
    <br />
    <div class="input-group input-group-sm mb-3">
      <label
        name="location"
        class="input-group-text"
        id="inputGroup-sizing-sm"
      >Latitude: </label>
      <input type="number" step=".01" name="location" />
      <label
        name="location"
        class="input-group-text"
        id="inputGroup-sizing-sm"
      >Longitude: </label>
      <input type="number" step=".01" name="location" />
    </div>
    <br />
    <label for="difficultyAccess" class="margin3">Access dificulty: </label>
    <select
      name="difficultyAccess"
      class="form-select"
      aria-label="Default select example"
    >
      <option selected></option>
      <option>--------------------</option>
      <option value="Low">Low</option>
      <option value="Medium">Medium</option>
      <option value="High">High</option>
    </select>
    <br />
    <label for="entertainment" class="margin3">Entertainment: </label>
    <select
      name="entertainment"
      class="form-select"
      multiple
      aria-label="multiple select example"
      multiple
    >
      <option selected></option>
      <option>--------------------</option>
      <option value="Surf">Surf</option>
      <option value="Nudism">Nudism</option>
      <option value="Diving">Diving</option>
      <option value="Kayak">Kayak</option>
    </select>
    <br />
    <div class="input-group mb-3">
      <label for="image" class="input-group-text" for="inputGroupFile02">Beach
        image:
      </label>
      <input
        type="file"
        name="image"
        class="form-control"
        id="inputGroupFile02"
      />
    </div>
    <br />
    <button class="btn btn-primary btn-lg">Create</button>
    <br />
    {{#if this.errMessage}}
      <div class="alert alert-danger" role="alert">
        <p>{{this.errMessage}}</p>
      </div>
    {{/if}}
  </form>
</div>