<div>
  {{>navBarPartial }}
</div>
<div>
  <h3>Crear playas</h3>
  <form action="/admin" method="post">
     <div class="input-group input-group-sm mb-3">
      <span class="input-group-text" id="inputGroup-sizing-sm">Name: </span>
      <input type="text" name="name" value="{{this.name}}" />
    </div>
    <br />
    <label for="region">Region: </label>
    <select name="region" class="form-select" aria-label="Default select example">
    <option selected></option>
    <option>--------------------</option>
    <option value="andalucia">andalucia</option>
    <option value="asturias">asturias</option>
    <option value="baleares">baleares</option>
    <option value="canarias">canarias</option>
    <option value="cantabria">cantabria</option>
    <option value="cataluña">cataluña</option>
    <option value="comunidad valenciana">comunidad valenciana</option>
    <option value="extremadura">extremadura</option>
    <option value="galicia">galicia</option>
    <option value="comunidad de madrid">comunidad de madrid</option>
    <option value="region de murcia">region de murcia</option>
    <option value="pais vasco">pais vasco</option>
    <option value="ciudad autonoma de ceuta">ciudad autonoma de ceuta</option>
    <option value="ciudad autonoma de melilla">ciudad autonoma de melilla</option>
    </select>
    <br />
    <label for="description">Description: </label>
    <textarea name="description" cols="30" rows="10" value="{{this.description}}"></textarea>
    <br />
      <div class="input-group input-group-sm mb-3">
        <label name="location" class="input-group-text" id="inputGroup-sizing-sm">Latitude: </label>
        <input type="number" step=".01" name="location"/>
        <label name="location" class="input-group-text" id="inputGroup-sizing-sm">Longitude: </label>
        <input type="number" step=".01" name="location"/>
      </div>
    <br />
    <label for="difficultyAccess">Access dificulty: </label>
    <select name="difficultyAccess" class="form-select" aria-label="Default select example">
    <option selected></option>
    <option>--------------------</option>
    <option value="low">low</option>
    <option value="medium">medium</option>
    <option value="high">high</option>
    </select>
    <br />
    <label for="entertainment">Entrertainment: </label>
    <select name="entertainment" class="form-select" multiple aria-label="multiple select example" multiple>
      <option selected></option>
      <option>--------------------</option>
      <option value="surf">surf</option>
      <option value="nudism">nudism</option>
      <option value="diving">diving</option>
      <option value="kayak">kayak</option>
    </select>
    <br />
    <label for="image">Beach image: </label>
    <input type="file" name="image">
    <br>
    <button>Create</button>
    {{#if this.errMessage}}
    <p>{{this.errMessage}}</p>
    {{/if}}
  </form>
</div>