<div>
  {{>navBarPartial }}
</div>

<div>
   <form action="/comment/edit/{{this.commentToCheck._id}}" method="post">
   <label for="comment">Comment:</label>
    <textarea name="comment" cols="30" rows="10">{{this.commentToCheck.comment}}</textarea>
   <a href="/content/{{this.beach._id}}/beachInfo"><button class="btn btn-primary">Edit comment</button></a>
   </form>  
</div>