<div class="card">
  <a href="/content/{{this._id}}/beachInfo">
    <img src="{{this.beachPic}}" alt="beach_image" class="card-img" />
    <div class="card-body">
      <h2>{{this.name}}</h2>
      <h4>{{this.region}}</h4>
    </div>
  </a>
</div>