<div>

    <form action="/comment/create/{{this.beach._id}}" method="post">
    <label for="comment">Comments: </label>
    <textarea name="comment" cols="30" rows="10"></textarea>
    <button>Send comment</button>
    
    </form>
</div>