
<div>
  {{>navBarPartial }}
</div>
<body class="with-background">
<div class="text-center">
  <h1  class="margin" >Sea Scape: Unveiling Spain's Coastal Charm </h1>
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000">
        <img src="https://ociolanzarote.com/wp-content/imagenes/piscina-natural-tranquila.jpg" class="d-block mx-auto w-50 rounded" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="https://www.inspain.org/imgwbp/playas/2/9/4/ipdkh2rmv2kbjwhpyatcuqi3uq_1000.webp"class="d-block mx-auto w-50 rounded" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="https://www.inspain.org/imgwbp/playas/2/3/1/yh46jrtyamjm4pv4lv3jqktmya_1000.webp"class="d-block mx-auto w-50 rounded" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
 
  
</body>
