<div>
  {{>navBarPartial }}
</div>

<div>
  <h3>Main page</h3>
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <img src="https://www.inspain.org/imgwbp/playas/6/2/5/g3p2uy4yrixwcv3oce2e26j6ne_1000.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="https://www.inspain.org/imgwbp/playas/5/4/0/5vssvzgt2tjt3aaa2urze5axwa_1000.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="https://www.inspain.org/imgwbp/playas/3/5/8/adp4xmkc36yrw7bxiemse6y4dm_1000.webp" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>