<div>
  {{> navBarPartial }}
</div>
<div class="container">
  <h3 class="margin text-center">Region</h3>
  <div class="list-group text-center">
    {{#each this.allRegions}}
      <a href="/content/{{this}}/beachRegion" class="list-group-item list-group-item-action border-0">{{this}}</a>
    {{/each}}
  </div>
</div>