<div class="text-center">
  <div>
    {{#if sessionActive}}
    <a href="/content"><img src="/images/sea-scape-logo.gif" alt="logo-gif" class="rounded mx-auto d-block"
        id="logo-gif"></a>
    {{else}}
    <a href="/user/login"><img src="/images/sea-scape-logo.gif" alt="logo-gif" class="rounded mx-auto d-block"
        id="logo-gif"></a>
    {{/if}}
  </div>
</div>