<div class="text-center">
    {{#if sessionActive}}
    <a href="/content"><img src="/images/sea-scape-logo.gif" alt="logo-gif" class="rounded mx-auto d-block"
        id="logo-gif"><img src="/images/deep-in.png" alt="deep-in"></a>
    {{else}}
    <a href="/user/login"><img src="/images/sea-scape-logo.gif" alt="logo-gif" class="rounded mx-auto d-block"
        id="logo-gif"><img src="/images/deep-in.png" alt="deep-in"></a>
    {{/if}}
</div>