<div>
  <h3>Access</h3>
  <form action="/user/login" method="post">
    <div class="form-floating mb-3">
      <label for="email" for="floatingInput">Email: </label>
      <input
        type="email"
        name="email"
        value="{{this.email}}"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
      />
    </div>
    <br />
    <div class="form-floating">
      <label for="password">Password: </label>
      <input
        name="password"
        value="{{this.password}}"
        placeholder="Password"
        type="password"
        class="form-control"
        id="floatingPassword"
      />
    </div>
    <br />
    <div class="text-center">
      <button class="btn btn-primary btn-lg">Log In</button>
    </div>
    <br />
  </form>
  <form action="/user/signup" method="post">
    <div class="text-center">
      <button class="btn btn-primary btn-lg">Sign Up</button>
    </div>
  </form>
  <div class="text-center">
    {{#if this.errMessage}}
      <div class="alert alert-danger" role="alert">
        <p>{{this.errMessage}}</p>
      </div>
    {{/if}}
  </div>
</div>