body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
body.with-background {
  background-image: url(../images/wallpaper.png);
  background-size: cover;
}

a {
  color: rgb(57, 57, 117);
  text-decoration: none;
}

h1 {
  color: 15px;
}

.margin {
  font-size: 40px;
  margin-top: 60px;
  margin-bottom: 50px;
}

.list-group {
  font-size: 20px;
  margin-bottom: 30px;
}
.create-form {
  margin-top: 50px;
}

.edit-form {
  margin-top: 50px;
}
.allBeach-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 400px;
  width: 300px;
  box-shadow: 5px 9px 20px 2px rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  text-align: center;
}
.card-img {
  margin: 5px;
  width: 290px;
  border-radius: 15px;
}
